<tr id="<%= chicken.id %>">
  <td><%= chicken.id %></td>
  <td><%= chicken.name %></td>
  <td><%= link_to "editar", edit_chicken_path(chicken) %></td>
  <td><%= link_to "remover", destroy_chicken_path(chicken), remote: true, method: :delete, class: :pop_me %></td>
</tr>

  