<%= form_for(Chicken.new, remote: true) do |f| %>
	<p>
		<%= f.label :name, "Nome" %>
		<%= f.text_field :name %>
	</p>
	 <p>
		<%= f.label :description, "Descrição" %>
		<%= f.text_area :description %>
	<p>
		<%= f.submit "Adicionar ao galinheiro", class: :btn%>
	</p>
<% end %>

